@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --main-bg: #ebebeb;
  --main-gray: #a9aba9;
  --alt-gray: #4a4e50;
  --dark-purple: #473f7b;
  --light-purple: #9d9bd9;
  --red: #c81c27;
  --body: #222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--body);
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 100ms;
}

a:hover {
  color: var(--dark-purple);
}

.active {
  color: var(--dark-purple);
}

/* UTILITIES */

.sub-heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.1rem;
}

.game-heading {
  color: var(--alt-gray);
}

.button-style {
  color: var(--main-bg);
  padding: 0.25rem 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 100ms;
  border: none;
  border-radius: 2px;
}

.default {
  background-color: var(--dark-purple);
  border: 1px solid var(--dark-purple);
}

.default:hover {
  border: 1px solid var(--dark-purple);
  background: none;
  color: var(--dark-purple);
}

.red {
  background-color: var(--red);
  border: 1px solid var(--red);
}

.red:hover {
  border: 1px solid var(--red);
  background: none;
  color: var(--red);
}

.small {
  font-size: 0.6rem;
}

.horizontal-rule {
  width: 50%;
  margin: 0.5rem 0;
  background-color: var(--light-purple);
  height: 1px;
}

/* MAIN COMPONENT */
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100vw;
  height: 4rem;
  margin-bottom: 5rem;
  background-color: var(--light-purple);
  border-bottom: 5px solid var(--dark-purple);
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.header-content {
  display: flex;
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
  color: var(--main-bg);
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 1.5rem;
  flex-grow: 3;
}

.links-container {
  flex-grow: 5;
  margin-right: 1.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-btns button:first-of-type {
  margin-bottom: 0.5rem;
}

/* FOOTER */

.footer {
  width: 90vw;
  height: 8rem;
  margin: 5rem auto 0;
  border-top: 1px solid var(--light-purple);
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.footer-content {
  display: flex;
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
}

/* SEARCH PAGE */
.game-image {
  width: 100%;
  margin: 1rem 0;
  -webkit-box-shadow: 3px 6px 12px -4px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 6px 12px -4px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 6px 12px -4px rgba(0, 0, 0, 0.62);
}

.platforms {
  display: flex;
  flex-direction: row;
}

.platforms li {
  margin-right: 0.8rem;
}

.genres {
  display: flex;
  flex-direction: row;
}

.genres li {
  margin-right: 0.8rem;
}

.genres p {
  margin-right: 0.3rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  padding: 0.2rem;
  margin-right: 1rem;
  width: 200px;
}

.search-container form {
  display: flex;
  flex-direction: row;
}

.not-rendered {
  margin-top: 5rem;
}
